//Rating
.star_button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1px;

    &.on {
        color: #000;
    }

    &.off {
        color: #ccc;
    }
}

//Card
.card {
    border-radius: 6px;
}

.card-img-top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.item_text {
    font-size: $font-size-xs;
    font-weight: 600;
}

.item_info {
    font-size: $font-size-xs;
    font-weight: 400;
}

.item_price {
    font-weight: 600
}

//bag_details

.product_name {
    font-size: 20px;
    font-weight: 600;
}
