$primary:#E74C3C;
$primary-dark:#7b1e26;
$black:#000000;
$white:#fff;
$login:#ff6633;
$register_btn:#ff6633;
$navbar:#7B241C;
$navbar_white:#ECF0F1;



$font-size-xs:16px;
$form-select-focus-border-color: $black;
$form-select-focus-width: 1px;
$form-select-focus-box-shadow: 0px;
$form-select-focus-outline: none;